@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(photo/Profile.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color: #20b2aa;
}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid #20b2aa;
    color: #20b2aa;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #20b2aa;
    transition: transform 1s;
}

.btn:hover{
    color: #fff;
    transform: scale(1.1);
    background: #20b2aa;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(photo/Profile.jpg);
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #7daff0;
}

header .logo span{
    color: #20b2aa;
}

header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #fff;
}

header .navbar a:hover{
    color: #20b2aa;
}

#menu-bar{
    font-size: 2.5rem;
    cursor: pointer;
    color: #20b2aa;
    border: .1rem solid #20b2aa;
    border-radius: .3rem;
    padding: .3rem 1.2rem;
    display: none;
}


.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(photo/Veg+Background.png)no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    flex: 1 1 40rem;
    padding: 3rem;
}
.home .content h2{
    font-size:27px;
    color: #fff;
    font-size: 5rem;
}
.home .content h3{
    font-size:27px;
    color: #fff;
    font-size: 3.5rem;
}
.home .content h3>span{
    color: #20b2aa;
}
.home .content p{
    font-size: 1.2rem;
    color: #666;
    padding: 1rem 0;
}



.about{
    width: 80%;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    margin: auto;
}
.bac{
    background: #333;
}
.about h1{
    color: #fff;
    cursor: pointer;
}
.about-me-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 4%;
}
.about-me-col img{
    width: 70%;
    border-radius: 50%;
    margin-top: 2.5rem;
}
.about-me-col h3{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 22px;
    cursor: pointer;
    color: #20b2aa;
}
.about-me-col p{
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;
    color: #fff;
                
}
.row{
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px){
    .about .row{
        display: grid;
    }
}
/* Skills&Education */
.skills-education{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
}
.skills-education h2{
    text-align: center;
    text-decoration: underline;
    color: #20b2aa;
    font-size: 30px;
    cursor: pointer;
}
.skill-education-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 4%;
    background: #f7e5f6;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: all.5s;
}
.skill-education-col h3{
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.Social-link i{
    font-size: 40px;
   margin-top: 8px;
   color: #20b2aa;
}
.Social-link b{
    cursor: pointer;
}
.skill-education-col:hover{
    box-shadow: 0 0 20px 0;
}
.skill-education-col li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}
.skill-education-col .bar{
    display: block;
    height: 3px;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;
}
.skill-education-col .bar span{
        height: 20px;
        float: left;
        background: #20b2aa;
}
.html{
    width: 90%;
    animation: html 2s;
}
.css{
    width: 85%;
    animation: css 2s;
}
.javascript{
    width: 60%;
    animation: javascript 2s;
}
.Photoshop-Illustrator{
    width: 60%;
    animation: Photoshop-Illustrator 2s;
}
.jquery{
    width: 75%;
    animation: jquery 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Photoshop-Illustrator {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes jquery {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
/* services */
.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.service h2{
    cursor: pointer;
    color: #20b2aa;
    text-decoration: underline;
    font-size: 30px;
}
.service h3{
    cursor: pointer;
}
.services-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 4%;
    background: #f7e5f6;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: all.5s;
}
.services-col p{
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.services-col:hover{
    box-shadow: 0 0 20px 0;
}
.services-col b{
    font-size: 40px;
    color: #20b2aa;
}

/* portfolio */
.portfolio{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.portfolio h2{
    cursor: pointer;
    color: #20b2aa;
    text-decoration: underline;
    font-size: 30px;
}
.portfolio h3{
    cursor: pointer;
}
.portfolio-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: #f7e5f6;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: all.5s;
}
.portfolio-col:hover{
    box-shadow: 0 0 20px 0;
}
.portfolio-col img{
    width: 100%;
    display: block;
}
.portfolio-col h2{
    text-decoration: none;
    font-size: 22px;
}
.overflo{
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.overflo:hover{
    background: rgba(225,0,0,0.5);
}
.overflo h3{
    width: 100%; 
    color: white;
    font-weight: 500;
    font-size: 22px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
    font-weight: bold;
}
.overflo:hover h3{
    bottom: 49%;
    opacity: 1;
}
/* testimonial */
.testimonial{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonial h2{
    cursor: pointer;
    color: #20b2aa;
    text-decoration: underline;
    font-size: 30px;
}
.testimonial h3{
    cursor: pointer;
}
.testimonial-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: #f7e5f6;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: all.5s;
}
.testimonial-col:hover{
    box-shadow: 0 0 20px 0;
}
.img2 img{
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
}
.testimonial-col p{
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}




.contact{
    background: #333;
}
.contact h1{
    color: #fff;
}
.contact .row{
    pad: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #333;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}
.contact .row .image{
    flex: 1 1 30rem;
}
.contact .row .image img{
    width: 100%;
    border-radius: .5rem;
}
.contact .row form{
    flex: 1 1 50rem;
    padding: 1rem;
    margin-top: 2rem;
}
.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .row form .inputBox input, .order .row form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}
.contact .row form textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}
.contact .row form .btn{
    background: none;
}
.contact .row form .btn:hover{
    background: #20b2aa;
}





/* FIND WITH ME */
.find-me{
        width: 100%;
        text-align: center;
        background: #f7e5f6;
        margin-top: 70px;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 50px;
}
.find-me h2{
        color: #20b2aa;
        padding-bottom: 20px;
        padding-top: 20px;
        cursor: pointer;
}
.footer a{
        font-size: 15px;
        color: black;
        text-decoration: none;
        padding: 15px;
        background-color: white;
        border-radius: 100%;
        margin: 10px;
        transition: all .5s;
}
.footer a:hover{
        background: #20b2aa;
        color: white;
}
@media(max-width:950px){
    .find-me h2{
        font-size: 18px;
        padding: 30px;
    }
    .footer a{
        padding: 12px;
        
    }
}













/*====== media queries starts =========*/

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
    
    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: black;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0,.1);
        border-left: .5rem solid #2982f7;
        background: #20b2aa;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .order .row form .inputBox input{
        width: 100%;
    }
}

/*====== media queries ends =========*/